
.thanks-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #3a3a3a;
  }
  
  .contact form {
  display: flex;
  flex-direction: column;
  padding: 30px;
  max-width: 800px;
  margin: 0 auto;
  }
  
  .contact label {
  font-weight: bold;
  margin-bottom: 10px;
  }
  
  .contact input,
  .contact textarea {
  padding: 10px;
  font-size: 1.2rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 20px;
  }
  
  .contact textarea {
  resize: vertical;
  }
  
  .contact button[type="submit"] {
  background-color: #5a9;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  }
  
  .contact button[type="submit"]:hover {
  background-color: #7ac;
  }
  
  .contact .back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  }
  
  .contact .back img {
  max-width: 100%;
  }
  
  .contact .back h1,
  .contact .back h2 {
  color: rgb(0, 0, 0);
  text-align: center;
  }
  
  .contact section.contact.mb .back img {
  filter: hue-rotate(90deg);
  }
  
  @media screen and (max-width: 768px) {
  .contact form label {
  font-size: 1.2rem;
  }
  
  .contact form button[type="submit"] {
  font-size: 1.2rem;
  }
  }
  
  